*json
test-results/
tmp/
routes/

.DS_Store
.idea/
vendor/
log/
bin/config/.secret
Dockerrun.aws.json
*.zip
*.txt
*.db
/migrate
packaged_*.yml
.zshenv
.vendor-new/
.gvm_local/

.env
.env.production
.env.staging
.env.develop
env.json

none
target/
